.card{
    margin:5px 5px;
    width:10%;
    flex: 0 0 auto;
    text-align:center;
  padding:10px;
   /* overflow-wrap: break-word;
   word-wrap: break-word;
   text-overflow: ellipsis; */
    
}
.card img{
    width:100%;
}
.card .text{
  white-space: wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
   
   
}
@media only screen and (max-width:600px){
    .card{
        width:90% !important;
        margin:0%;
        margin-left: 0%;
        margin-right: 0%;

        
    }
    .card img{
        width:70%
    }
   
}
@media (max-width:700px) and (min-width:600px) {

    .card{
        width:50% !important;
        margin:0%;
        margin-left: 0%;
        margin-right: 0%;

        
    }
    .card img{
        width:70%
    }
   
}
@media  (max-width:1000px) and  (min-width:900px) {

    .card{
        width:30% !important;
        margin:0%;
        margin-left: 0%;
        margin-right: 0%;

        
    }
    .card img{
        width:70%
    }
   
}
@media only screen and (max-width:1000px) {

    .card{
        width:35% !important;
        margin:0%;
        margin-left: 0%;
        margin-right: 0%;

        
    }
    .card img{
        width:70%
    }
   
}
@media only screen and (max-width:400px) {

    .card{
        width:90% !important;
        margin:0%;
        margin-left: 0%;
        margin-right: 0%;

        
    }
    .card img{
        width:80%
    }
   
}
/* @media only screen and (max-width:600px){
    .card{
        
        
    }
    .card img{
        width:50%
    }
   
} */