.sidebaroption{
    display: flex;
    align-items: center;
    height: 40px;
    width:100%;
    padding:  10px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;
    cursor: pointer;
    color: white;
    


}
.sidebaroption:hover ,.sidebaroption:hover p,.sidebaroption:hover h3{
    
  
   
    background-color:#7069db;
}
.sidebaroption .MuiSvgIcon-root{
    padding:5px;
}
.sidebaroption p{
    display: none;
    font-weight: 300;
}
.sidebaroption h3{
    flex: 1;
    margin-left: 10px;
    font-weight: 400;
    font-size: 15px;
}
.sidebaroption:hover p{
    display: inline;
}
.sidebaroption--active{
    background-color: #fcecec;
}
.sidebaroption--active p{
    display: inline !important;
   
}
.footericons{
    display:flex;
    justify-content: center;
}

@media only screen and (max-width:520px){
    .sidebaroption{
        flex-direction: column;
        justify-content: left !important;
        align-items:left !important;
        padding-bottom:10px;
        align-self: start;
    }
    .sidebaroption .MuiSvgIcon-root,.sidebaroption h3{
        padding:0px;
        margin-top: 5px;
        align-self: start;
    }
    .sidebaroption h3{
        display: none !important;
    }
}