.App{
   /* width:100vw;  */
  /* display:flex;
  flex-direction:row; */
  overflow-y: scroll;
  overflow-y:initial;
  height:100%;
  display: -webkit-flex;
display: flex;
flex-direction: row;
align-items: stretch;

}
.col1{
  width:17vw;
  display:table-cell;
  
}
.col2{
 width:83vw;
 display:table-cell;
 
}
.wrap{}
@media only screen and (max-width:500px){

 
}

